body {
  background-color: #e5f0f2;
}
	

.background {
  background-image: url('./background_banner.png') !important;
  background-size: 1920px;
  background-repeat: no-repeat;
  height: 420px;
  background-position: center;
  background-color: #e5f0f2;
}

.content {
  width: 95%;
  text-align: center;
  position: fixed;
	top: 490px;
	left: 50%;
	transform: translate(-50%, -40%);
	-webkit-transform: translate(-50%, -40%);
	-ms-transform: translate(-50%, -40%);
  padding: 25px 25px 25px;
	padding-top: 25px;
	padding-right: 25px;
	padding-left: 25px;
  border-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius:10px;
	border-bottom-left-radius: 10px;
}

.logo {
  margin: auto;
  width: 500px;
}

img {
  max-width: 100%;
}

.name {
  color: black;
  font-size: 4em;
  font-weight: 400;
  font-family: 'Libre Baskerville', serif;
}

.caption {
  color: black;
  font-size: 1em;
  font-weight: 400;
  font-family: 'Libre Baskerville', serif;
}

.list {
  font-size: 1em;
  font-family: 'Libre Baskerville', serif;
  text-decoration: none;
  font-weight: 400;
  margin: 20px 0px 0px;
	margin-top: 20px;
	margin-right:0px;
	margin-bottom: 0px;
	margin-left: 0px;
  padding:0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
  text-align: center;
  list-style-type: none;
}

.list a {
  font-size: 1em;
  font-family: 'Libre Baskerville', serif;
  text-decoration: none;
  color: black;
  font-weight: 400;
}

.list a:hover, .list a:active {
	color: #86c0b6;
}

.list li {
  font-size: 1em;
  font-family: 'Libre Baskerville', serif;
  text-decoration: none;
  color: black;
  font-weight: 400;
  margin: 2px 0px;
}

div {
  font-size: 0;
}

b {
  font-size: 16px; 
  display: inline-block;
  margin-bottom: 8px;
  width: calc(50% - 4px);
  margin-right: 8px;
}

b:nth-of-type(2n) {
  margin-right: 0;
}

@media screen and (min-width: 50em) {
  b {
    width: calc(25% - 6px);
  }

  b:nth-of-type(2n) {
    margin-right: 8px;
  }

  b:nth-of-type(4n) {
    margin-right: 0;
  }
}

div {
  display: flex;
  flex-wrap: wrap;
}
